<html>

<head>
	<script src="https://unpkg.com/3d-force-graph@1.35.4/dist/3d-force-graph.min.js"></script>
	<script src="https://d3js.org/d3.v5.min.js"></script>
	<script src="https://unpkg.com/three"></script>
	<script src="https://unpkg.com/three-spritetext"></script>
	<link rel="stylesheet" href="/static/style.css">
	<script src="/static/config.js"></script>
	<script src="/static/3dForceGraph.js"></script>

	<title>Personalised Visualisation of Correlation</title>
</head>
<body>
{% block content %}
{% endblock %}
</body>
</html>