<html>
<head>
  <script src="https://unpkg.com/3d-force-graph@1.35.4/dist/3d-force-graph.min.js"></script>
</head>
<body>
  <div id="3d-graph"></div>
  <script>
  // Receive csv data from the python app, and convert to an array
  var dataMatrix = {{ data|safe }};
  var symptomValues = {{ symptomData|safe }};

  // Create nodes for symptom values
  function createNodes(dataCol){
    var nodes = [];
    for (var i = 0; i < dataCol.length; i++){
      nodes.push({id:dataCol[i][0], index: i, colour: "green"});
    }
    return nodes;
  }

  function createLinks(dataMatrix){
    var links = [];
    for (var i = 1; i < dataMatrix.length; i++){
      for (var j = i+1; j < dataMatrix.length; j++){
        if (dataMatrix[i][j] > 0)
        links.push({source: dataMatrix[i][0], target: dataMatrix[0][j], width: 1, color: "green"});
      }
    }
    return links;
  }

  var nodes = createNodes(symptomValues);

  var dataLinks = createLinks(dataMatrix);

  let highlightNodes = [];

  const gData = {
    nodes: nodes,
    links: dataLinks,
  }

  let severityChart = [
    "rgb(176, 224, 230,1)",
    "rgb(0 , 206, 209,1)",
    "rgb(95, 158, 160,1)",
    "rgb(0,0,128,1)",
  ]

  const Graph = ForceGraph3D();
  Graph(document.getElementById('3d-graph'))
  .nodeColor(function(node){
    let severity = symptomValues[node.index][2];
    return severityChart[severity];
  })
  .nodeVal(function(node, link){
    return symptomValues[node.index][1];
  })
  .linkWidth('width')
  .linkColor(function(link){
    return link.color;
  })
  .backgroundColor("white")
  .graphData(gData);

  </script>
</body>
</html>
