<html>
<head>
  <script src="https://unpkg.com/3d-force-graph@1.35.4/dist/3d-force-graph.min.js"></script>
</head>
<body>
  <div id="3d-graph"></div>
  <script>

  // Receive csv data from the python app
  var dataMatrix = {{ data|safe }}; // correlation
  var symptomRatings = {{ symptomData|safe }}; // averages freq.csv
  
	var severityChart = 
	[
		"rgb(183, 232, 255, 1)",
		"rgb(183, 232, 255, 1)",
		"rgb(98, 181, 219, 1)",
		"rgb(29, 134, 183, 1)",
		"rgb(8, 61, 135, 1)",
	]

	var nodeSizeModifier = 0.7;
	var maxNodeSize = 3;
	var minNodeSize = 1;

	var linkWidthModifier = 0.3;
	var linkThreshold = 5;
	var maxLinkWidth = 8;
	var minLinkWidth = 0.1;

	// Node
	function createNodes(dataCol){
		var nodes = [];
		for (var i = 1; i < dataCol.length; i++){
      // Define node color
      var colorIdx = symptomRatings[i][2];
      var nodeRadius = symptomRatings[i][1];
			nodeRadius *= nodeSizeModifier;
			nodes.push({id:dataCol[i][0], index: i, color:severityChart[colorIdx], radius:nodeRadius, symptom:symptomRatings[i-1][0]});
		}
		return nodes;
	}
	console.log(dataMatrix);
	function createLinks(dataMatrix){
		var links = [];
		for (var i = 1; i < dataMatrix.length; i++){
			for (var j = i+1; j < dataMatrix.length; j++){
				//console.log("Parrot");
				var corrData = +dataMatrix[i][j];
				var linkColor = "green";
				if (corrData > linkThreshold){
					corrData *= linkWidthModifier;
					links.push({source: dataMatrix[i][0], target: dataMatrix[0][j], width: corrData, color: linkColor, isReverse: false});
				}
				else if (corrData < -linkThreshold){
					corrData *= linkWidthModifier;
					corrData *= -1;
					links.push({source: dataMatrix[i][0], target: dataMatrix[0][j], width: corrData-1, color: "red", isReverse: true});
				}
			}
		}
		return links;
	}
	
	////console.log("Nodes Good");
	
	var nodes = createNodes(dataMatrix);
	////console.log(nodes);
	
	var dataLinks = createLinks(dataMatrix);
	setTimeout(function()
	{
		////console.log("Data Links");
		////console.log(dataLinks);
	}, 500);
	
	const gData = {
		nodes: nodes,
		links: dataLinks,
	}
	
	////console.log("G Data");
	////console.log(gData);+
	const elem = document.getElementById('3d-graph');
	
    const Graph = ForceGraph3D();
    Graph(elem)
		.nodeColor('color')
		.nodeVal('radius')
		.linkWidth('width')
		.linkColor('color')
		.backgroundColor("white")
		.nodeResolution(20)
		/*.linkDirectionalParticles(function(link){
			if (link.isReverse == true)
				return 2;
			return 0;
		})
		.linkDirectionalParticleWidth(function(link){
			if (link.isReverse == true)
			{
				console.log(link.width);
				return link.width *20;
			}
			return 0;
		})
		.linkDirectionalParticleResolution(20)*/
		.linkOpacity(0.3)
		.nodeOpacity(1)
		.nodeLabel(function(node){
			var label = "<p style="+'"'+"color:black"+'"'+">" + node.symptom + "</p>";
			console.log(label);
			return label;
		})
		.graphData(gData);
		
  </script>
</body>
</html>
